.c-nav-huge {
	&_item {
		// background-color: deeppink;
		display: block;
		text-align: center;
		font-size: 10vw;
		line-height: 1;
		overflow: hidden;
	}
	&_link {
		// background-color: rgba(255, 255, 255, 0.3);
	}
}

