.t-padding {
	padding: rem(16px) rem(32px) rem(24px) rem(40px);
}
.t-fontsize {
	font-size: rem(24px);
	line-height: rem(29px);
}
.t-grid {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,0.1);
	height: 100vh;
}
.t-col {
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	flex: 1 0 8.33333%;
	padding-left: 2rem;
	padding-right: 2rem;
}
.t-gut {
	background-color: rgba(255,0,0,0.1);
	// border: 1px solid #000;
	height: 100%;
	flex: 1 0 2rem;
	margin-left: -2rem;
	margin-right: -2rem;
}
