.o-section {
  position: relative;
  z-index: 2;
  @media (max-width: $to-medium) {
    padding-bottom: 5rem;
    padding-top: 2.5rem;
  }
  @media (min-width: $from-medium) {
    padding-bottom: 5rem;
  }
  &.-padding-top {
    padding-top: 5rem;
  }
  &.-no-padding-bottom {
    padding-bottom: 0;
  }
  &.-small-padding-mobile {
    @media (max-width: $to-medium) {
      padding-bottom: 2.5rem;
    }
  }
}

.o-section_caption {
  position: relative;
  display: inline-block;
  width: 12.5rem;
  transform: rotate(-90deg);
  transform-origin: bottom left;

  @media (max-width: $to-medium) {
    top: 0;
    left: 100%;
  }
  @media (min-width: $from-medium) {
    left: 100%;
    padding-left: 20px;
    padding-top: 11.25rem;
  }
  &.-mobile {
    @media (max-width: $to-small) {
      left: auto;
      top: auto;
      transform: none;
      margin-top: 0.625rem;
    }
  }
}

@media (min-width: $from-medium) {
  .o-section_main {
    padding-top: 9.375rem;
  }
}
@media (max-width: $to-medium) {
  .o-section_main {
    padding-top: 3.125rem;
  }
}
