// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: rgba(242, 250, 255, 1);
$black: rgba(2, 17, 25, 1);

// Custom
$clinic-green: #00c7bd;
$input-error: #c01f2a;

$gray-base: #e9e9e9;
$gray-100: #d2d2d2;
$gray-200: #bababa;
$gray-300: #a3a3a3;
$gray-400: #8c8c8c;
$gray-500: #757575;
$gray-600: #5d5d5d;
$gray-700: #464646;
$gray-800: #2f2f2f;
$gray-900: #171717;

// Specific
// =============================================================================
// Link
$link-color: $black;
$link-focus-color: $black;
$link-hover-color: $clinic-green;
// Selection
$selection-text-color: $white;
$selection-background-color: $black;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;

