// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: rgba(242, 250, 255, 1);
$black: rgba(2, 17, 25, 1);

// Specific
// =============================================================================
// Link
$link-color:       $black;
$link-focus-color: $black;
$link-hover-color: $white;
// Selection
$selection-text-color:       $white;
$selection-background-color: $black;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;

// Customs
$color1: rgba(242, 250, 255, 1);
$color2: rgba(243, 255, 114, 1);
$color3: rgba(25, 178, 255, 1);
$color4: rgba(19, 133, 191, 1);
$color5: rgba(2, 17, 25, 1);


