.c-splash {
  color: #fff;
  position: relative;
  z-index: 1;
}

.c-splash.-plain:after,
.c-splash.-plain:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #5fecc8;
}

.c-splash.-plain:after {
  background-color: #6c7776;
  opacity: 0.15;
}

.c-splash .c-rail-static {
  border-color: #fff;
}

@media (max-width: 499px) {
  .c-splash .o-image_media {
    width: 150%;
    max-width: inherit;
    margin-left: -25%;
  }
}

.c-splash_content {
  position: absolute;
  top: calc(50% + 7.5rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

@media (min-width: 500px) and (max-width: 699px) {
  .c-splash_content .o-h1 {
    font-size: 3rem;
  }
}
.c-sponsors_item a {
  display: block;
}

.c-sponsors_item img {
  margin: 0 auto;
  display: block;
}

[data-colorset='whale-mango'] .c-sponsors_item_image {
  -webkit-filter: invert(48%) sepia(13%) saturate(3804%) hue-rotate(143deg) brightness(59%) contrast(80%);
  filter: invert(48%) sepia(13%) saturate(3804%) hue-rotate(143deg) brightness(59%) contrast(80%);
}

[data-colorset='lavender-aloes'] .c-sponsors_item_image {
  -webkit-filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(195deg) brightness(95%) contrast(80%);
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(195deg) brightness(95%) contrast(80%);
}
