.o-image {
  position: relative;
}

.o-image,
.o-image.-parallax {
  overflow: hidden;
}

.o-image_media {
  width: 100%;
}

.o-image.-parallax .o-image_media {
  margin-top: -10%;
  margin-bottom: -10%;
}

.o-image_background {
  padding-bottom: 100%;
  background-size: cover;
  background-position: 50%;
  width: 100%;
}

@media (max-width: 499px) {
  .c-splash .o-image_media {
    width: 150%;
    max-width: inherit;
    margin-left: -25%;
  }
}
