.search {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: em(4);
  margin-top: em(-4);
  pointer-events: none;
  &__input {
    padding: em(8) em(42);
  }
  &__button {
    position: absolute;
    top: auto;
    right: 0;
    padding: em(8);
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-delay: 0.15s;
    &.is-focused {
      pointer-events: auto;
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.3s;
    }
  }
}
