.o-form {
	margin-bottom: xem(30);
}

.o-form-agreement {
	font-size: 1em;
	margin-bottom: 2em;
	display: flex;
	user-select: none;
}

.o-form-agreement_label {
	margin-bottom: 0;
}

.o-form_link {
	display: block;
}
