.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray-100;
  padding: xem(16);
  &__title {
    font-size: $font-size;
  }
  &__logo {
    width: xem(90);
    display: block;
  }
}

.logo {
  &__circle-left {
    fill: #f06;
  }
  &__circle-right {
    fill: #000;
  }
  &__overlap {
    fill: #888;
  }
}
