.o-shred {
  // width: 100vw;
  width: 100%; // custom. test and remove if problematic.
  height: 9.75vw;
  display: block;
  background: transparent;
  z-index: 2;
  position: relative;
  transform: translateZ(0);
  margin-bottom: -1px;
  color: #5e62d1;
}

.o-shred.-no-z-index {
  z-index: 0;
}

.o-shred svg {
  display: block;
  height: 100%;
  width: 100%;
}

.o-shred[data-colorset='lavender-aloes'] {
  color: #5e62d1;
  background: transparent;
}

.o-shred.-transparent {
  background: transparent !important;
}
