// App specific
$black: #000;
$white: #fff;
$yellow: #fd0;

$gray-base: #e9e9e9;
$gray-100: #d2d2d2;
$gray-200: #bababa;
$gray-300: #a3a3a3;
$gray-400: #8c8c8c;
$gray-500: #757575;
$gray-600: #5d5d5d;
$gray-700: #464646;
$gray-800: #2f2f2f;
$gray-900: #171717;

$button-bg: #000;
$button-bg-hover: #333;
$button-text: #fff;
$button-text-hover: #bbb;
$button-outline-focus: #000;

$input-bg-hover: #eee;
$input-text-hover: #333;

$font-size: 16px;
$line-height: 1.625; // 26px
$fontface-primary: 'Poppins', sans-serif;
// $serif: 'Source Serif Pro', serif;

// Headings
$font-size-h1: 13.5vw !default;
$font-size-h2: 48px !default;
$font-size-h3: 32px !default;
$font-size-h4: 24px !default;
$font-size-h5: 21px !default;
$font-size-h6: 18px !default;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Transitions
// =============================================================================
$speed: 0.3s;
$bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
$Power1EaseOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$Power2EaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
$Power3EaseOut: cubic-bezier(0.165, 0.84, 0.44, 1);
$Power4EaseOut: cubic-bezier(0.23, 1, 0.32, 1);
$Power1EaseIn: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$Power2EaseIn: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$Power3EaseIn: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$Power4EaseIn: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ExpoEaseOut: cubic-bezier(0.19, 1, 0.22, 1);
$ExpoEaseIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ExpoEaseInOut: cubic-bezier(1, 0, 0, 1);
$SineEaseOut: cubic-bezier(0.39, 0.575, 0.565, 1);
$SineEaseIn: cubic-bezier(0.47, 0, 0.745, 0.715);
$Power1EaseInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$Power2EaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
$Power3EaseInOut: cubic-bezier(0.77, 0, 0.175, 1);
$Power4EaseInOut: cubic-bezier(0.86, 0, 0.07, 1);
$SlowEaseOut: cubic-bezier(0.04, 1.15, 0.4, 0.99);
$easing: $Power2EaseOut;

// Spacing Units
// =============================================================================
$unit: 60px;
$unit-small: 40px;

// Container
// ==========================================================================
$container-width: 1440px;
$padding: $unit;

// Breakpoints
// =============================================================================
$from-tiny: 500px !default;
$to-tiny: $from-tiny - 1 !default;
$from-small: 700px !default;
$to-small: $from-small - 1 !default;
$from-medium: 1000px !default;
$to-medium: $from-medium - 1 !default;
$from-large: 1200px !default;
$to-large: $from-large - 1 !default;
$from-big: 1400px !default;
$to-big: $from-big - 1 !default;
$from-huge: 1600px !default;
$to-huge: $from-huge - 1 !default;
$from-enormous: 1800px !default;
$to-enormous: $from-enormous - 1 !default;
$from-gigantic: 2000px !default;
$to-gigantic: $from-gigantic - 1 !default;
$from-colossal: 2400px !default;
$to-colossal: $from-colossal - 1 !default;
