.c-primary-nav {
  width: 100%;
}

.c-primary-nav_menu {
  display: flex;
  justify-content: space-evenly;
  font-size: xem(24);
  height: 100%;
}

.c-primary-nav_item {
  display: flex;
  flex: 1;
}

.c-primary-nav_link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
