.c-primary-nav {
  width: 100%;
  @media (max-width: $to-small) {
    background-color: #e6e6e6;
    padding: rem(60px) rem(20px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    transform: scale(0.75);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s $easing, opacity 0.45s $easing;
  }
}
.c-primary-nav_toggle {
  width: rem(120px);
  height: rem(120px);
  position: relative;
  @media (min-width: $from-small) {
    display: none;
  }
  &:before, &:after {
    content: "";
    background-color: #000;
    position: absolute;
    left: 10%;
    height: 1px;
    width: 80%;
  }
  &:before {
    top: 40%;
  }
  &:after {
    top: 60%;
  }
}

.c-primary-nav_menu {
  font-size: 2em;
  @media (min-width: $from-small) {
    display: flex;
    justify-content: space-evenly;
    // font-size: rem(24px);
    font-size: 1em;
    height: 100%;
  }
}

.c-primary-nav_item {
  @media (min-width: $from-small) {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }
}

.c-primary-nav_link {
  position: relative;
  color: $link-color;
  display: flex;
  flex: 1;
  font-weight: 700;
  transition: color 0.3s $easing, letter-spacing 0.3s $easing;
  @include u-hocus {
    color: $link-hover-color;
    font-weight: 400;
    letter-spacing: 0.075em;
  }
  
  @media (min-width: $from-small) {
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }
  
  &:focus {
    outline-offset: rem(-4px);
  }
}

.is-open .c-primary-nav {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
