.o-label {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  @media (max-width: $to-small) {
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
  @media (min-width: $from-small) {
    font-size: 1.125rem;
  }
  &.-max {
    @media (min-width: $from-small) {
      max-width: 12.5rem;
    }
  }
  &.-bold {
    font-weight: 700;
  }
}

.o-label-small {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  @media (max-width: $to-small) {
    font-size: 11px;
  }
  @media (min-width: $from-small) and (max-width: $to-huge) {
    font-size: 0.6875rem;
  }
  @media (min-width: $from-huge) {
    font-size: 0.8125rem;
  }
  &.-max {
    @media (min-width: $from-small) {
      max-width: 12.5rem;
    }
  }
}
