.button {
  white-space: nowrap;
  padding: em(8) em(24);
  text-decoration: none;
  font-weight: 700;
  background-color: $button-bg;
  color: $button-text;
  &:hover {
    background-color: $button-bg-hover;
    color: $button-text-hover;
  }
  &__icon {
    fill: $white;
  }
}
