.field {
  position: relative;
  pointer-events: auto;
  &__bottom {
    display: block;
    background: $black;
    width: 100%;
    height: em(4);
    position: absolute;
    left: 0;
    top: auto;
    bottom: em(-4);
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition-property: opacity, transform;
    transition-delay: 0.45s;
    &.is-focused {
      opacity: 1;
      transform: scaleY(1);
      transition-delay: 0.2s;
    }
  }
}
